idm-api/src/main/resources/idml3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0"
  xmlns:idml="http://www.openforis.org/idml/3.0"
  targetNamespace="http://www.openforis.org/idml/3.0"
  xmlns="http://www.openforis.org/idml/3.0">
  <xs:annotation>
    <xs:documentation xml:lang="en">
		Inventory Data Modeling Language 3.0
		
		Inventory Data Modeling Language (IDML) is an XML implementation of the Inventory Data Metamodel (IDMM), which provides a formal language for defining and describing inventory data models.  It provides an abstraction which enables the creation of software that is flexible and reuseable in a wider range of scenarios.  The IDMM also allows tools to interoperate on the same data, regardless of platform or implementation.  For example, mobile or personal data recorder (PDR) software, web or desktop-based data management software and data modeling tools that are designed to work with the IDMM would all be able work together and exchange data, regardless of vendor or inventory-specific details or functionality.
		      
		A specific usage or instance of the IDMM is called an inventory data model (IDM).  An inventory data model formally defines the variables recorded during an inventory, as well as metadata needed for transparent, consistent interpretation of collected data.  This includes definition of each entity and attribute and their respective data quality checks, precision, units, code lists and spatial reference systems.  Names and documentation for each of these elements may be specified in any number of languages.  These may then be used to generate standard reports for use in field manuals, online reporting and/or software help systems, for example.  This documentation is also essential for proper interpretation of primary data and results calculation.
		      
		Other features include versioning, which allow data models to evolve over time in a managed way.  New elements may be added and old ones deprecated, however operations which would compromise data integraty and comparability are inherently prohibited.  This also facilitates creation of easy-to-use tools for data and database management.  
		
		The IDMM has been implemented as both a Java API and an XML schema.  The latter is called the Inventory Data Modeling Language (IDML), and provides a human and machine-readable format for defining models. It is fully supported by [[Open Foris Collect]], without other tools in the development pipeline.
		                     
		Other features include versioning, which allow data models to evolve over time in a managed way.  New elements may be added and old ones deprecated, however operations which would compromise data integraty and comparability are inherently prohibited.  This also facilitates creation of easy-to-use tools for data and database management.  Custom expressions are represented in the W3C standard XPath language.  String patterns may also be specified using standard POSIX-like regular expressions.  
	            
		© Copyright 2012 Food and Agriculture Organization of the United Nations
		      
		G. Miceli, M. Togna, A. Pekkarinen, S. Ricci
    </xs:documentation>
   </xs:annotation>
  
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- Types used throughout this schema -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  
  <xs:simpleType name="regularExpression">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        In computing, a regular expression (regex) are used for describing patterns for matching text. IDM uses standard POSIX-style expressions for describing these patterns. 
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="expression">    
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Expressions may contain formulas and custom logic used for data checking, relevance features, default calculation and other features which depend on the values entered at run-time.  In IDM, the W3C-standard XML Path Language (XPath) Version 1.0 is used for this purpose.  Expressions may refer one or more elements (attributes or entities) in the data hierarchy.  
        
        Several custom functions are also provided:
        
          parent() - the parent of the entity or attribute containing the expression
          blank()  - returns true if an attribute value is blank (does not include symbols)
          valid()  - returns true if an attribute value is not blank and does not return an error

        Also, a custom variable to point to the current value is defined:
        
          $this    - the value associatioed with the attribute where the expression is defined

        Expressions are generally evaluated from one level above the entity or attribute where they are defined.  For example:
      </xs:documentation>
      <xs:documentation xml:lang="en">
        <entity name="tree" multiple="true">
          <number type="real" name="height"/>            
          <number type="real" name="dbh">
            <compare lte="height * 8" flag="error"/>
          </number>
        </entity>
      </xs:documentation>
      <xs:documentation xml:lang="en">
        This IDM snippet defines a tree with a numeric height and dbh, and an error check on the tree's dbh which raises an error if it not less than or equal to 8x the tree's height.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="versionName">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A short version name or number used to distinguish between versions of the data model and related field forms.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  
  <xs:complexType name="codeListItem">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        An item in a code list.  In hierarchical lists, may also contain other sub-items.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" maxOccurs="unbounded" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            A code used to refer to this item (e.g. 100, a).  Codes in any given coding scheme must be unique.  
            
            Alpha-numeric codes are considered case insensitive for purposes of uniqueness and search, however text formatting is to be maintained when presenting the codes to the user.  For example, if a code "Fhm" is defined in a particular coding scheme, code "FHM" may not also be defined.  However if a user enters "FHM", the value should  be automatically converted to the correct case "Fhm".  
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
              <xs:attribute name="scheme" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    The coding scheme to which this code refers, as defined in the list's codingScheme element.
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>            
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="label" maxOccurs="unbounded" minOccurs="0" type="unformattedText">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Short label describing a particular code list item.
          </xs:documentation>
        </xs:annotation>        
      </xs:element>
      <xs:element name="description" maxOccurs="unbounded" minOccurs="0" type="formattedText">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Human-readable text describing the signficance of a particular code list item.
          </xs:documentation>
        </xs:annotation>        
      </xs:element>
      <xs:element name="item" maxOccurs="unbounded" minOccurs="0" type="codeListItem">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            For hierarchical lists, onr or more sub-items may be defined below this item.  In this case, the "hierarchy"  element should be used to define the significance of each level in the list. 
          </xs:documentation>
        </xs:annotation>        
      </xs:element>
    </xs:sequence>
    <xs:attribute name="qualifiable" type="xs:boolean">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Specifies whether additional information in the form of text may be provided when the code is used.  The most common use of this is for codes indicating "Other".  In these cases, the user is asked to qualify the use of that code with descriptive text.   
        </xs:documentation>
      </xs:annotation>        
    </xs:attribute>
    <xs:attribute name="since" type="versionName">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The version of the model in which a particular list item was introduced.  New items may be added, but for consistency, codes and labels are assumed constant through time. 
        </xs:documentation>
      </xs:annotation>        
    </xs:attribute>
    <xs:attribute name="deprecated" type="versionName">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          The version of the model from which a particular list item was not longer used.  New items may be deprecated, but for consistency, codes and labels are assumed constant through time. 
        </xs:documentation>
      </xs:annotation>        
    </xs:attribute>
  </xs:complexType>
  
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- Main Schema Hierarchy -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  
  <xs:element name="survey" id="survey">
    <xs:annotation>
      <xs:documentation xml:lang="en">
          Top level element representing an instance of an inventory project's data model.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        
      	<xs:element name="name" type="internalName">
      	  <xs:annotation>
        	  <xs:documentation xml:lang="en">
        	    Internal system code name for survey (e.g. archenlandnfi1).
        	  </xs:documentation>
      	  </xs:annotation>
      	</xs:element>
        
        <xs:element name="project" type="unformattedText" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Name of survey project in human-readable text (e.g. Archenland NFI).
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="cycle" type="unformattedText" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Name of survey project cycle in human-readable text (e.g. 2010-2015).
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="description" type="formattedText" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Any other descriptive text describing the survey project.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="configuration" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Any other application-specific configuration.  To differentiate between applications, custom namespaces may be used.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Application-specific elements imported from other namespaces. 
                  </xs:documentation>
                </xs:annotation>
              </xs:any>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
              
        <!--~~~~~~~~~~~~-->
        <!-- Versioning -->
        <!--~~~~~~~~~~~~-->
        
        <xs:element name="versioning" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Container element for information on data model versions.  Versioning allows certain elements of the inventory data model to be added or retired in a manner which does not break data consistency and comparability.  As field forms evolve throughout the course of an inventory, versions may also be used to document the changes made to field forms and to allow the system to reflect the changes only on relevant data.         
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="version" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    Defines a single version of the data model.  Versioning generally follows the revision of the field forms or mobile computer setup. 
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="label" minOccurs="0" type="unformattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Human-readable name of the model version (e.g. Pilot, Main Phase, Extension).
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="description" minOccurs="0" maxOccurs="unbounded" type="formattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Human-readable description of the model version.              
                        </xs:documentation>
                      </xs:annotation>          
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="date" type="xs:date">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Date from which data was collected using this version of the model.
                        </xs:documentation>
                      </xs:annotation>          
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="versionName" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        System name for this version of the data model to be referenced from other model elements (e.g. pilot, 1.0, 2.0).
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!--~~~~~~~~~~~~-->
        <!-- Code Lists -->
        <!--~~~~~~~~~~~~-->
        
        <xs:element name="codeLists" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Contains definitions of code lists used in the inventory.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="list">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    Contains the definition of a single code list used in the inventory.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="label" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Human-readable name of the code list being defined.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="unformattedText">
                            <xs:attribute name="type" use="required">
                              <xs:annotation>
                                <xs:documentation xml:lang="en">
                                  The type of label being defined.
                                </xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="item">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">
                                        Indicated that the label refers to a single item in the list (e.g. Administrative unit).  Note that for hierarchical code lists, additional per-level labels are defined in the 'hierarchy' element.   
                                      </xs:documentation>
                                    </xs:annotation>
                                  </xs:enumeration>
                                  <xs:enumeration value="list">
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">
                                        Indicated that the label refers to list items (e.g. Administrative units)   
                                      </xs:documentation>
                                    </xs:annotation>
                                  </xs:enumeration>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:anyAttribute namespace="##other" processContents="lax">
                              <xs:annotation>
                                <xs:documentation>
                                  Application-specific attributes imported from other namespaces. 
                                </xs:documentation>
                              </xs:annotation>
                            </xs:anyAttribute>
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="description" minOccurs="0" maxOccurs="unbounded" type="formattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          A human-readable description for the code list for use in generated documentation and automated help systems.   
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="codingScheme" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Optionally, multiple coding schemes may be used in the same list.  For example, a code list may have an ISO standard code, an custom alphanumeric code and a custom numeric code.  The various alternate schemes are defined here.    
                        </xs:documentation>
                      </xs:annotation>                      
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="label" maxOccurs="unbounded" minOccurs="0" type="unformattedText">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                  TO-DO
                              </xs:documentation>
                            </xs:annotation>                      
                          </xs:element>
                          <xs:element name="description" maxOccurs="unbounded" minOccurs="0" type="formattedText">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>                      
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="optional" type="internalName">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>                      
                        </xs:attribute>
                        <xs:attribute name="scope" use="required">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>                      
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="scheme"/>
                              <xs:enumeration value="local"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="type" use="required">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>                      
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="numeric">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    TO-DO
                                  </xs:documentation>
                                </xs:annotation>                      
                              </xs:enumeration>
                              <xs:enumeration value="alphanumeric">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    TO-DO
                                  </xs:documentation>
                                </xs:annotation>                      
                              </xs:enumeration>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>            
                        <xs:attribute name="default" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>                      
                        </xs:attribute>
                        <xs:attribute name="since" type="versionName">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>                      
                        </xs:attribute>
                        <xs:attribute name="deprecated" type="versionName">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>                      
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="hierarchy" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="level" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>                      
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="label" type="unformattedText" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      TO-DO
                                    </xs:documentation>
                                  </xs:annotation>                      
                                </xs:element>
                                <xs:element name="description" type="unformattedText" minOccurs="0" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      TO-DO
                                    </xs:documentation>
                                  </xs:annotation>                      
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="internalName" use="required">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    TO-DO
                                  </xs:documentation>
                                </xs:annotation>                      
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="items">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="item" type="codeListItem">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>                      
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="internalName" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                      
                  </xs:attribute>
                  <xs:attribute name="lookup" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                      
                  </xs:attribute> 
                  <xs:attribute name="since" type="versionName">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                      
                  </xs:attribute>
                  <xs:attribute name="deprecated" type="versionName">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                      
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~-->
        <!-- Units of Measurement -->
        <!--~~~~~~~~~~~~~~~~~~~~~~-->
        
        <xs:element name="units" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Describes the units of measure used by the inventory.  Units are always stored with the primary data in order to avoid misinterpretation and to facilitate conversion between units.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="unit" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                      
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="label" minOccurs="0" maxOccurs="unbounded" type="unformattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                                           
                    </xs:element>
                    <xs:element name="abbreviation" minOccurs="0" maxOccurs="unbounded" type="unformattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" use="required" type="internalName">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                      
                  </xs:attribute>
                  <xs:attribute name="dimension" use="required" type="internalName">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                                          
                  </xs:attribute>
                  <xs:attribute name="conversionFactor" use="optional" type="xs:decimal">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        TO-DO
                      </xs:documentation>
                    </xs:annotation>                      
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!-- Spatial Reference Systems -->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        
        <xs:element name="spatialReferenceSystems" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Defines specific coordinate reference systems and their respective map projections used by the inventory.  This information is required for correct interpretation of coordinate and for related geospatial calculations (e.g. distance). 
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="spatialReferenceSystem" minOccurs="1" maxOccurs="unbounded"> 
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    Defines a single coordinate reference system used by the system.  Note that when using Universal Transverse Mercator coordinate system (UTM), each zone is to be encoded as a separate spatial reference system.  
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="label" maxOccurs="unbounded" minOccurs="0" type="unformattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Human-readable name of the spatial reference system (e.g. UTM Zone 38).
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="description" minOccurs="0" maxOccurs="unbounded" type="formattedText">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Human-readable description of the spatial reference system.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="wkt" minOccurs="1" maxOccurs="1" type="xs:string">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          Definition of the spatial reference system's parameters and projection in well-known text (WKT) format.  WKT is a standard defined in the Open Geospatial Consortium (OGC)'s Simple Feature Access and Coordinate Transformation Service specifications.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="srid" type="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">
                        User-defined unique ID of the spatial reference system (e.g. EPSG:21036)  
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!--~~~~~~~~-->
        <!-- Schema -->
        <!--~~~~~~~~-->
        <xs:element name="schema" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              Contains the definition of the structure and contents of primary data, including types of entities studied and measurements or observations that will be made.  Quality checks to be applied during data collection and initial data processing are also defined here.
              
              A schema may contain one or more root entities which are considered the main unit of work for a survey. 
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entity" type="entityBase" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                      
                <xs:unique name="entityChildNames">
                  <xs:selector xpath="*"/>
                  <xs:field xpath="@name"/>
                </xs:unique>    
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
     </xs:sequence>
    </xs:complexType>
  </xs:element> 
  
  <xs:complexType name="schemaObject"> 
    <xs:annotation>
      <xs:documentation xml:lang="en">
        TO-DO
      </xs:documentation>
    </xs:annotation>                      
    <xs:sequence>
      <xs:element name="label" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            TO-DO
          </xs:documentation>
        </xs:annotation>                      
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="unformattedText">
              <xs:attribute name="type" use="required">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="instance">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                    </xs:enumeration>
                    <xs:enumeration value="list">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                    </xs:enumeration>
                    <xs:enumeration value="prompt">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                    </xs:enumeration>
                    <xs:enumeration value="number">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          TO-DO
                        </xs:documentation>
                      </xs:annotation>                      
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:anyAttribute namespace="##other" processContents="lax">
                <xs:annotation>
                  <xs:documentation>
                    Application-specific attributes imported from other namespaces. 
                  </xs:documentation>
                </xs:annotation>
              </xs:anyAttribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="description" minOccurs="0" maxOccurs="unbounded" type="formattedText">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            For of a entity, the description should include relevant details regarding size, shape and/or general meaning.
            
            For attributes, the description should briefly outline the details of how this value is obtained (e. the diameter perpendicular to the tree at 1.3m height)
            
            For identifiers, the description should describe the format and source of the unique id.
            
            For code lists, the description describes the contents of the list in more detail. 
          </xs:documentation>
        </xs:annotation>        
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="internalName" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          TO-DO
        </xs:documentation>
      </xs:annotation>      
    </xs:attribute>
    <xs:attribute name="since" type="versionName">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          TO-DO
        </xs:documentation>
      </xs:annotation>      
    </xs:attribute>
    <xs:attribute name="deprecated" type="versionName">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          TO-DO
        </xs:documentation>
      </xs:annotation>      
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax">
      <xs:annotation>
        <xs:documentation>
          Application-specific attributes imported from other namespaces. 
        </xs:documentation>
      </xs:annotation>
    </xs:anyAttribute>
  </xs:complexType>
    
  <xs:complexType name="entityBase">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines an entity on which measurements or observations will be made.  Entities generally represent concrete objects like trees, shrubs or dead wood, or more abstract concepts such as biodiversity and plot center.  In both cases, the entity is a means of logically grouping together observations and measurements. 
      </xs:documentation>
    </xs:annotation>
      <xs:complexContent>
        <xs:extension base="schemaObject">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              
              <xs:element name="entity" type="innerEntity">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
                <xs:unique name="innerEntityChildNames">
                  <xs:selector xpath="*"/>
                  <xs:field xpath="@name"/>
                </xs:unique>    
              </xs:element>
              
              <xs:element name="number" type="numericAttribute">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                
              </xs:element>
              
              <xs:element name="range" type="numericAttribute">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                
              </xs:element>
              
              <xs:element name="date" type="timestampAttribute">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                
              </xs:element>
              
              <xs:element name="time" type="timestampAttribute">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                
              </xs:element>
              
              <xs:element name="boolean">
                <xs:annotation>
                  <xs:documentation>
                    TO-DO
                    affirmativeOnly="false":  (default)
                    Measured   [ ] Yes  [x] No     true/false/null    
                    
                    affirmativeOnly="true":
                    [ ] Measured                   true/null
                    
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="attribute">
                      <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                          <xs:element name="check" type="customCheck">
                            <xs:annotation>
                              <xs:documentation>
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>            
                        </xs:choice>
                      </xs:sequence>
                      <xs:attribute name="affirmativeOnly" type="xs:boolean" use="optional" default="false">
                        <xs:annotation>
                          <xs:documentation>
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="file">
                <xs:annotation>
                  <xs:documentation>
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="attribute">
                      <xs:attribute name="maxSize" use="required" type="xs:positiveInteger">
                        <xs:annotation>
                          <xs:documentation>
                            Maximum file size expressed in number of bytes.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="extensions" use="optional">
                        <xs:annotation>
                          <xs:documentation>
                            Space-separated list of allowed file extensions.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:list itemType="xs:string"/>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="code">
                <xs:annotation>
                  <xs:documentation>
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="attribute">
                      <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                          <xs:element name="compare" type="compareCheck">
                            <xs:annotation>
                              <xs:documentation>For numeric codes (defining in coding scheme)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="pattern" type="patternCheck">
                            <xs:annotation>
                              <xs:documentation>For alphanumeric codes (defining in coding scheme)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="unique" type="uniquenessCheck">
                            <xs:annotation>
                              <xs:documentation>
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="check" type="customCheck">
                            <xs:annotation>
                              <xs:documentation>
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>            
                        </xs:choice>
                      </xs:sequence>
                      <xs:attribute name="strict" type="xs:boolean" use="optional" default="true">
                        <xs:annotation>
                          <xs:documentation>
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="list" type="internalName">
                        <xs:annotation>
                          <xs:documentation>
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="parent" type="expression">
                        <xs:annotation>
                          <xs:documentation>
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="key" type="xs:boolean" use="optional" default="false">
                        <xs:annotation>
                          <xs:documentation>
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="coordinate">
                <xs:annotation>
                  <xs:documentation>
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="attribute">
                      <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="distance" type="distanceCheck">
                          <xs:annotation>
                            <xs:documentation>
                              TO-DO
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:choice>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="taxon">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="attribute">
                      <xs:attribute name="taxonomy" type="xs:string">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>                
                      </xs:attribute>
                      <xs:attribute name="highestRank" type="xs:string">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>                
                      </xs:attribute>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="text">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>                
                <xs:complexType>
                   <xs:complexContent>
                    <xs:extension base="attribute">
                      <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                          <xs:element name="unique" type="uniquenessCheck">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="pattern" type="patternCheck">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="check" type="customCheck">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                TO-DO
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>            
                        </xs:choice>
                      </xs:sequence>
                      <xs:attribute name="key" type="xs:boolean" use="optional" default="false">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>                
                      </xs:attribute>
                      <xs:attribute name="type" use="optional" default="short">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">
                            TO-DO
                          </xs:documentation>
                        </xs:annotation>                      
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="short">
                              <xs:annotation>
                                <xs:documentation xml:lang="en">
                                  TO-DO
                                </xs:documentation>
                              </xs:annotation>                      
                            </xs:enumeration>
                            <xs:enumeration value="memo">
                              <xs:annotation>
                                <xs:documentation xml:lang="en">
                                  TO-DO
                                </xs:documentation>
                              </xs:annotation>                      
                            </xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>            
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>  
            </xs:choice>
          </xs:sequence>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="innerEntity">
    <xs:complexContent>
      <xs:extension base="entityBase">
        <xs:attribute name="relevant" type="expression">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>          
        </xs:attribute>
        <xs:attribute name="required" type="xs:string" use="optional" default="false">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>          
        </xs:attribute>
        <xs:attribute name="multiple" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>          
        </xs:attribute>
        <xs:attribute name="minCount" type="xs:nonNegativeInteger" use="optional" default="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>          
        </xs:attribute>
        <xs:attribute name="maxCount" type="xs:nonNegativeInteger" use="optional" default="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="attribute">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines an inventory attribute.  An attribute defines variable for which a value will be recorded, including all field measurements, observations and survey questions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="schemaObject">
        <xs:sequence>
          <xs:element name="default" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                TO-DO
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="expr" type="expression" use="required">
                <xs:annotation>
                  <xs:documentation>
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="if" type="expression">
                <xs:annotation>
                  <xs:documentation>
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="relevant" type="expression">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="required" type="xs:string" use="optional" default="false">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="multiple" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="minCount" type="xs:nonNegativeInteger" use="optional" default="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maxCount" type="xs:nonNegativeInteger" use="optional" default="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- Numeric Attributes -->
  
  <xs:complexType name="numericAttribute">
    <xs:complexContent>
      <xs:extension base="attribute">
        <xs:sequence>
          <xs:element name="precision" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="unit" type="internalName">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="decimalDigits" type="xs:integer">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="default" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="compare" type="compareCheck">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  TO-DO
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="unique" type="compareCheck">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  TO-DO
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="check" type="customCheck">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  TO-DO
                </xs:documentation>
              </xs:annotation>
            </xs:element>            
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="key" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" default="real">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="real">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="integer">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    TO-DO
                  </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
   
  <xs:complexType name="timestampAttribute">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        TO-DO
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="attribute">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="compare" type="compareCheck">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  TO-DO
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="check" type="customCheck">
              <xs:annotation>
                <xs:documentation xml:lang="en">
                  TO-DO
                </xs:documentation>
              </xs:annotation>
            </xs:element>            
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <!--~~~~~~~~~~~~~~-->
  <!-- Value Checks -->
  <!--~~~~~~~~~~~~~~-->
  
  <xs:complexType name="checkBase">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Checks define rules executed on primary data during data entry and data cleaning.   
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="message" type="unformattedText" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Custom message to be used when a check fails.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="flag" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="error">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="warn">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="if" type="expression">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          TO-DO
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="compareCheck">
    <xs:annotation>
      <xs:documentation>
        TO-DO
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
        <xs:extension base="checkBase">
          <xs:attribute name="gte" type="expression">
            <xs:annotation>
              <xs:documentation>
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="lte" type="expression">
            <xs:annotation>
              <xs:documentation>
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="gt" type="expression">
            <xs:annotation>
              <xs:documentation>
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="lt" type="expression">
            <xs:annotation>
              <xs:documentation>
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="eq" type="expression">
            <xs:annotation>
              <xs:documentation>
                TO-DO
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>            
        </xs:extension>
      </xs:complexContent>
  </xs:complexType>      
  
  <xs:complexType name="distanceCheck">
    <xs:annotation>
      <xs:documentation>
        TO-DO
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="checkBase">
        <xs:attribute name="min" type="expression">
          <xs:annotation>
            <xs:documentation>
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max" type="expression">
          <xs:annotation>
            <xs:documentation>
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="from" type="expression">
          <xs:annotation>
            <xs:documentation>
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="to" type="expression">
          <xs:annotation>
            <xs:documentation>
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="patternCheck">
    <xs:annotation>
      <xs:documentation>
        TO-DO
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="checkBase">
        <xs:attribute name="regex" type="regularExpression" use="required">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="customCheck">
    <xs:annotation>
      <xs:documentation xml:lang="en">
         Asserts that the expression specified in the test attribute is true. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="checkBase">
        <xs:attribute name="expr" type="expression" use="required">
          <xs:annotation>
            <xs:documentation>
              Generates an error or warning when this expression evaluates to false.        
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="uniquenessCheck">
    <xs:annotation>
      <xs:documentation xml:lang="en">
         TO-DO
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="checkBase">
        <xs:attribute name="expr" type="expression" use="required">
          <xs:annotation>
            <xs:documentation>
              Generates an error or warning when one or more values resulting nodeset are not unique          
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="internalName">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        TO-DO
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:pattern value="[a-z][a-z0-9_]*"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- Natural Language Text -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  
  <xs:complexType name="unformattedText">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A single line of natural-language text, with optional language attribute.  Leading and trailing spaces are ignored.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute ref="xml:lang" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="formattedText">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Natural-language text, usually descriptive, with optional language attribute.  May be used in automatically generated documentation, as well as in software as interactive help text.  
        
        Whitespace (spaces, returns, tabs, etc.) in the text is maintained.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              TO-DO
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>