src/main/xsd/idml3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0"
  targetNamespace="http://www.openforis.org/idml/3.0"
  xmlns:idml="http://www.openforis.org/idml/3.0"
  xmlns="http://www.openforis.org/idml/3.0">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      Inventory Data Modeling Language 3.0
            
      The IDML provides a standard way of defining data models for inventory primary data.  
      
      The IDML represents a meta-model for describing inventory data models.  It provides an abstraction which enables the creation of software that is both flexible and reuseable in a wider range of scenarios.  It allows tools to interoperate on the same data, regardless of platform or implementation.  For example, mobile or personal data recorder (PDR) software, web or desktop-based data management software and data modeling tools that understand IDML would all be able work together and exchange data, regardless of vendor or inventory-specific details or functionality.
      
      A model written in IDML is called an inventory data model (IDM).  An inventory data model formally defines the variables recorded during an inventory, as well as metadata needed for transparent, consistent interpretation of collected data.  This includes definition of each entity and attribute and their respective data quality checks, precision, units, code lists and spatial reference systems.  Names and documentation for each of these elements may be specified in any number of languages.  These may then be used to generate standard reports for use in field manuals, online reporting and/or software help systems, for example.  This documentation is also essential for proper interpretation of primary data and results calculation.
      
      Other features include versioning, which allow data models to evolve over time in a managed way.  New elements may be added and old ones deprecated, however operations which would compromise data integraty and comparability are inherently prohibited.  This also facilitates creation of easy-to-use tools for data and database management.  Custom expressions are represented in the W3C standard XPath language.  String patterns may also be specified using standard POSIX-like regular expressions.  
            
      © Copyright 2012 Food and Agriculture Organization of the United Nations
            
      G. Miceli, M. Togna, A. Pekkarinen, S. Ricci
    </xs:documentation>
  </xs:annotation>
  
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

  <!-- Simple Types -->
  
  <xs:simpleType name="regularExpression">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        In computing, a regular expression (regex) are used for describing patterns for matching text. IDM uses standard POSIX-style expressions for describing these patterns. 
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="expression">    
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Expressions may contain formulas and custom logic used for data checking, relevance features, default calculation and other features which depend on the values entered at run-time.  In IDM, the W3C-standard <a href="http://www.w3.org/TR/xpath/">XML Path Language (XPath) Version 1.0</a> is used for this purpose.  Expressions may refer one or more elements (attributes or entities) in the data hierarchy.  
        
        Several custom functions are provided in IDM's implemention of XPath.  In particular:
        
        this()   - the entity or attribute containing the expression
        parent() - the parent of the entity or attribute containing the expression
        
        Expressions are generally evaluated from one level above the entity or attribute where they're defined.  For example, to check that a tree's dbh is less than or equal to 8x a tree's height, we could write; 
        
        <entity name="tree" multiple="true">
          <number type="real" name="total_height"/>            
          <number type="real" name="dbh">
            <compare lte="height * 8" flag="error"/>
          </number>
        </entity>
        
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <!-- Elements -->

  <xs:element name="survey">
    <xs:annotation>
      <xs:documentation xml:lang="en">
          Top level representing an inventory project.   
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="name" type="internalName"/>
        <xs:element name="project" type="unformattedText" minOccurs="1" maxOccurs="unbounded">
          <!-- Tanzania NAFORMA, Finland NFI-->
        </xs:element>
        <xs:element name="cycle" type="unformattedText" minOccurs="0" maxOccurs="unbounded">
          <!-- e.g. NFI11 (2009-2013) -->
        </xs:element>
        <xs:element name="description" type="formattedText" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="model" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="spatialReferenceSystems" minOccurs="0" maxOccurs="1"/>
        <xs:element name="configuration" minOccurs="0" maxOccurs="1">
        	<xs:complexType>
        		<xs:sequence>
			        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="model">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Survey data model.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="versioning" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="schema" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="codeLists" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="units" minOccurs="0" maxOccurs="1"/>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--~~~~~~~~~~~~-->
  <!-- Versioning -->
  <!--~~~~~~~~~~~~-->
  
  <xs:element name="versioning">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="version"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="version">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="label" minOccurs="0" type="unformattedText"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="description"/>
        <xs:element minOccurs="0" maxOccurs="1" name="date" type="xs:date"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <!--~~~~~~~~-->
  <!-- Schema -->
  <!--~~~~~~~~-->
  
  <xs:element name="schema">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Contains the definition of the structure and contents of primary data, including inventory levels, types of entities measured/observed and measurements/observations that will be made.  Quality checks to be applied during data collection and initial data processing are also defined here.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entity" type="rootEntity" minOccurs="1" maxOccurs="unbounded">
          <xs:unique name="entityChildNames">
            <xs:selector xpath="*"/>
            <xs:field xpath="@name"/>
          </xs:unique>    
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="schemaObject"> 
    <xs:sequence>
      <xs:element ref="label" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="internalName" use="required"/>
    <xs:attribute name="since" type="xs:string"/>
    <xs:attribute name="deprecated" type="xs:string"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
    
  <xs:complexType name="entityBase">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines an entity on which measurements or observations will be made.  Entities generally represent concrete objects like trees, shrubs or dead wood, or more abstract concepts such as biodiversity and plot center.  In both cases, the entity is a means of logically grouping together observations and measurements. 
      </xs:documentation>
    </xs:annotation>
      <xs:complexContent>
        <xs:extension base="schemaObject">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="entity" type="innerEntity">
                <xs:unique name="innerEntityChildNames">
                  <xs:selector xpath="*"/>
                  <xs:field xpath="@name"/>
                </xs:unique>    
              </xs:element>
              <xs:element ref="number"/>
              <xs:element ref="range"/>
              <xs:element ref="boolean"/>
              <xs:element ref="date"/>
              <xs:element ref="time"/>
              <xs:element ref="file"/>
              <xs:element ref="taxon"/>
              <xs:element ref="coordinate"/>
              <xs:element ref="code"/>
              <xs:element ref="text"/>
              <xs:element ref="memo"/>
            </xs:choice>
          </xs:sequence>
        </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="rootEntity">
    <xs:complexContent>
      <xs:extension base="entityBase"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="innerEntity">
    <xs:complexContent>
      <xs:extension base="entityBase">
        <xs:attribute name="relevant" type="expression"/>
        <xs:attribute name="required" type="xs:string" use="optional" default="false"/>
        <xs:attribute name="multiple" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="minCount" type="xs:nonNegativeInteger" use="optional" default="0"/>
        <xs:attribute name="maxCount" type="xs:nonNegativeInteger" use="optional" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="attribute">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines an inventory attribute.  An attribute is variable for which a value will be measured or observed and recorded.   
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="schemaObject">
        <xs:sequence>
          <xs:element ref="default" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="relevant" type="expression"/>
        <xs:attribute name="required" type="xs:string" use="optional" default="false"/>
        <xs:attribute name="multiple" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="minCount" type="xs:nonNegativeInteger" use="optional" default="0"/>
        <xs:attribute name="maxCount" type="xs:nonNegativeInteger" use="optional" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="default">
    <xs:complexType>
      <xs:attribute name="expr" type="expression" use="required"/>
      <xs:attribute name="if" type="expression"/>
    </xs:complexType>
  </xs:element>
  
  <!-- Numeric Attributes -->
  
  <xs:complexType name="numericAttribute">
    <xs:complexContent>
      <xs:extension base="attribute">
        <xs:sequence>
          <xs:element ref="precision" minOccurs="0" maxOccurs="unbounded"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="compare"/>
            <xs:element ref="unique"/>
            <xs:element ref="check"/>            
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="key" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="type" default="real">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="real"/>
              <xs:enumeration value="integer"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="precision">
    <xs:complexType>
      <xs:attribute name="unit" type="internalName"/>
      <xs:attribute name="decimalDigits" type="xs:integer"/>
      <xs:attribute name="default" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="number" type="numericAttribute"/>

<!--  <xs:element name="integer" type="numericAttribute"/>-->
  
  <xs:element name="range" type="numericAttribute"/>
   
  <!-- String Attributes -->

  <xs:complexType name="stringAttribute">
    <xs:complexContent>
      <xs:extension base="attribute">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="unique"/>
            <xs:element ref="pattern"/>
            <xs:element ref="check"/>            
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="text">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="stringAttribute">
          <xs:attribute name="key" type="xs:boolean" use="optional" default="false"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="memo" type="stringAttribute"/>

  <!-- Date/time Attributes -->
  
  <xs:complexType name="timestamp">
    <xs:complexContent>
      <xs:extension base="attribute">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="compare"/>
            <xs:element ref="check"/>            
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="date" type="timestamp"/>
  
  <xs:element name="time" type="timestamp"/>
  
  <!--
    For future consideration:
    <xs:element name="datetime" type="timestamp"/>
  -->
  
  <!-- Other Attributes -->
  
  <xs:element name="code">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="attribute">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="compare">
                <xs:annotation>
                  <xs:documentation>For numeric codes (defining in coding scheme)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element ref="pattern">
                <xs:annotation>
                  <xs:documentation>For alphanumeric codes (defining in coding scheme)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element ref="unique"/>
              <xs:element ref="check"/>            
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="strict" type="xs:boolean" use="optional" default="true"/>
          <xs:attribute name="list" type="internalName"/>
          <xs:attribute name="parent" type="expression"/>
          <xs:attribute name="key" type="xs:boolean" use="optional" default="false"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="coordinate">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="attribute">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="distance"/>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="taxon">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="attribute">
          <xs:attribute name="taxonomy" type="xs:string"/>
          <xs:attribute name="highestRank" type="xs:string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="boolean">
    <xs:annotation>
      <xs:documentation>
        
        affirmativeOnly="false":  (default)
        Measured   [ ] Yes  [x] No     true/false/null    
        
        affirmativeOnly="true":
        [ ] Measured                   true/null
        
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="attribute">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="check"/>            
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="affirmativeOnly" type="xs:boolean" use="optional" default="false"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="file">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="attribute">
          <xs:attribute name="maxSize" use="required" type="xs:positiveInteger">
            <xs:annotation>
              <xs:documentation>
                Maximum file size expressed in number of bytes.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="extensions" use="optional">
            <xs:annotation>
              <xs:documentation>
                Space-separated list of allowed file extensions.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:list itemType="xs:string"/>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element> 
  
  <!--~~~~~~~~~~~~-->
  <!-- Code Lists -->
  <!--~~~~~~~~~~~~-->
  
  <xs:element name="codeLists">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Defines code lists referred to by the inventory data.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="list"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="label" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="codingScheme" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" use="optional" type="internalName"/>
            <xs:attribute name="scope" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="list"/>
                  <xs:enumeration value="parent"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="numeric"/>
                  <xs:enumeration value="alphanumeric"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="since" type="xs:string"/>
            <xs:attribute name="deprecated" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="hierarchy" minOccurs="0"/>
        <xs:element minOccurs="0" ref="items"/>
      </xs:sequence>
      <xs:attribute name="name" type="internalName" use="required"/>
       <xs:attribute name="lookup" type="xs:string"/> 
      <xs:attribute name="since" type="xs:string"/>
      <xs:attribute name="deprecated" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="hierarchy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rank" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="label" type="unformattedText" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="description" type="unformattedText" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="internalName" use="required"/>
<!--             <xs:attribute name="depth" use="required" type="xs:integer"/> -->
<!--             <xs:attribute name="nodeset" use="optional" type="xs:string"/> -->
<!--             <xs:attribute name="select" use="optional" type="xs:string"/> -->
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="since" type="xs:string"/>
                <xs:attribute name="deprecated" type="xs:string"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="label" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="unformattedText">
                <!--
                  <xs:attribute name="since" type="xs:string"/>
                  <xs:attribute name="deprecated" type="xs:string"/>
                -->
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element ref="description" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="qualifiable" type="xs:boolean"/>
      <xs:attribute name="since" type="xs:string"/>
      <xs:attribute name="deprecated" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
  <!--~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- Units of Measurement -->
  <!--~~~~~~~~~~~~~~~~~~~~~~-->
  
  <xs:element name="units">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Describes the units of measure used by the inventory.  Units are always stored with the primary data in order to avoid misinterpretation and to facilitate conversion between units.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="unit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="unit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="label" minOccurs="0" maxOccurs="unbounded" type="unformattedText"/>
        <xs:element name="abbreviation" minOccurs="0" maxOccurs="unbounded" type="unformattedText"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="internalName"/>
      <xs:attribute name="dimension" use="required" type="internalName"/>
      <xs:attribute name="conversionFactor" use="optional" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  
  <!--~~~~~~~~~~~~~~-->
  <!-- Value Checks -->
  <!--~~~~~~~~~~~~~~-->
  
  <xs:complexType name="checkBase">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Checks define rules executed on primary data during data entry and data cleaning.   
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="message" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="flag" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="error"/>
          <xs:enumeration value="warn"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="if" type="expression"/>
  </xs:complexType>
  
  <xs:element name="compare">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[
          <compare lt="" lte="" gt="" gte="" eq="" flag="error"/> 
        ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
        <xs:complexContent>
          <xs:extension base="checkBase">
            <xs:attribute name="gte" type="expression"/>
            <xs:attribute name="lte" type="expression"/>
            <xs:attribute name="gt" type="expression"/>
            <xs:attribute name="lt" type="expression"/>            
            <xs:attribute name="eq" type="expression"/>            
          </xs:extension>
        </xs:complexContent>
    </xs:complexType>      
  </xs:element>
  
  <xs:element name="distance">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="checkBase">
          <xs:attribute name="min" type="expression"/>
          <xs:attribute name="max" type="expression"/>
          <xs:attribute name="from" type="expression"/>
          <xs:attribute name="to" type="expression"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pattern">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="checkBase">
          <xs:attribute name="regex" type="regularExpression" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>  
  
  <xs:element name="check">
    <xs:annotation>
      <xs:documentation xml:lang="en">
         Asserts that the expression specified in the test attribute is true. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="checkBase">
          <xs:attribute name="expr" type="expression" use="required">
            <xs:annotation>
              <xs:documentation>
                Generates an error or warning when this expression evaluates to false.        
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="unique">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Asserts that the expression specified in the test attribute is true. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="checkBase">
          <xs:attribute name="expr" type="expression" use="required">
            <xs:annotation>
              <xs:documentation>
                Generates an error or warning when one or more values resulting nodeset are not unique          
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="internalName">
    <xs:restriction base="xs:NCName">
      <xs:pattern value="[a-z][a-z0-9_]*"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- Spatial Reference Systems -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  
  <xs:element name="spatialReferenceSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="spatialReferenceSystem" minOccurs="1" maxOccurs="unbounded"/> 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spatialReferenceSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="label" maxOccurs="unbounded" minOccurs="0" type="unformattedText"/>
        <xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="wkt" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="srid" type="xs:string"/>
    </xs:complexType>
  </xs:element>


  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- Natural Language Text -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~-->
  
  <xs:element name="label">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="unformattedText">
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="instance"/>
                <xs:enumeration value="list"/>
                <xs:enumeration value="prompt"/>
                <xs:enumeration value="number"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="since" type="xs:string"/>
          <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="description" type="formattedText">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Natural-language description to be used in automatically generated documentation, as well as in software as interactive help text.  
        
        For of a level and entity, the description should include relevant details regarding size, shape and/or general meaning.
        
        For identifiers, the description should describe the format and source of the unique id.
        
        For attributes, the description should briefly outline the details of how this value is obtained (e. the diameter perpendicular to the tree at 1.3m height) 
        
        For code lists, the description describes the contents of the list in more detail. 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="message" type="unformattedText">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Custom message to be used when a check fails.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="unformattedText">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A single line of natural-language text, with optional language attribute.  Leading and trailing spaces are ignored.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute ref="xml:lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="formattedText">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A block of natural-language text, usually descriptive, with optional language attribute.  Whitespace (spaces, returns, tabs, etc.) in text is maintained.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
